@charset "UTF-8";
body {
  font-family: "Zen Maru Gothic","Yu Gothic", YuGothic, Helvetica, Arial,
  "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3",
  Meiryo, メイリオ, sans-serif;
  color: #682200;
  background-color: #dbf3e3;
}

img {
  max-width: 100%;
}

#concept, #menu, #news, #faq, #access {
  padding: 40px 0 56px 0;
}

/* ヘッダー・ハンバーガーメニュー */
.concept-link:hover  {
  content: url(../images/02-CONCEPT_hover.png);
  height: 20px;
}
.menu-link:hover  {
  content: url(../images/03-MENU_hover.png);
  height: 20px;
}
.news-link:hover  {
  content: url(../images/04-NEWS_hover.png);
  height: 20px;
}
.faq-link:hover  {
  content: url(../images/05-FAQ_hover.png);
  height: 20px;
}
.access-link:hover  {
  content: url(../images/06-ACCESS_hover.png);
  height: 20px;
}


.section-inner {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

/** -------- スマホ -------- **/
@media screen and (max-width: 768px) {
  .section-inner {
    padding: 0 24px;
    max-width: 550px;
  }
  .pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }
  #concept, #menu, #news, #faq, #access {
    padding: 40px 0 30px 0;
  }
}

/** -----------------------------------
    テキスト
-------------------------------------**/

h2.large {   /* 見出し*/
  font-weight: bold;
  font-size: 25px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

h3.small {   /* カードの見出し */
  font-weight: bold;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

p.medium {   /* 本文 */
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.05em;
}

p.small {    /* 注釈 */
  font-size: 13px;
  line-height: 1.75;
  letter-spacing: 0.03em;
}

/** -------- スマホ -------- **/
@media screen and (max-width: 768px) {
  h2.large {   /* 見出し*/
    font-weight: bold;
    font-size: 22px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
  }

  h3.small {   /* カードの見出し */
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
  }

  p.medium {   /* 本文 */
    font-size: 14px;
    line-height: 1.75;
    letter-spacing: 0.06em;
  }

  p.small {    /* 注釈 */
    font-size: 13px;
    line-height: 1.75;
    letter-spacing: 0.03em;
  }
}

/** -----------------------------------
    ボタン
-------------------------------------**/
.button-small {
  display: block;
  width: 198px;
  height: 50px;
  background-color: #F08658;
  color: #fff;
  font-size: 13px;
  letter-spacing: 0.03em;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  border-radius: 25px;
}

.button-large {
  display: block;
  width: 296px;
  height: 70px;
  background-color: #F08658;
  color: #fff;
  font-size: 17px;
  letter-spacing: 0.06em;
  font-weight: bold;
  line-height: 70px;
  text-align: center;
  border-radius: 35px;
}

.button-border {
  display: block;
  width: 192px;
  height: 50px;
  border: 1px solid #333333;
  color: #333333;
  font-size: 13px;
  letter-spacing: 0.06em;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  border-radius: 25px;
}

/** -------- スマホ -------- **/
@media screen and (max-width: 768px) {
  .button-large {
    display: block;
    width: 198px;
    height: 48px;
    font-size: 14px;
    line-height: 48px;
    border-radius: 24px;
  }
}


/** -----------------------------------
    見出し
-------------------------------------**/

.title-en {
  text-align: center;
  margin-bottom: 16px;
}

.title-en img {
  height: 30px;
  transform-origin: center;
}

/** -----------------------------------
    レイアウト
-------------------------------------**/
.col-2 {
  display: flex;
  justify-content: space-between;
}
.col-2 .item {
  width: calc((100% - 24px)/2);

}

.col-3 {
  display: flex;
  justify-content: space-between;
}
.col-3 .item {
  width: calc((100% - 48px)/3);
}


/** -------- スマホ -------- **/
@media screen and (max-width: 768px) {
  .col-2 {
    display: block;
  }
  .col-2 .item {
    width: 100%;
  }
  .col-3 {
    display: block;
  }
  .col-3 .item {
    width: 100%;
  }
}


/** -----------------------------------
    ヘッダー
-------------------------------------**/
#header {
  background-color: #FFFFFF;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
  position: fixed;
  top: 0;
  z-index: 1;
}

.header-logo {
  display: flex;
  align-items: center;
  width: 120px;
}

.header-logo:hover {
  opacity: 0.7;
}

.header-logo a {
  display: flex;
}

.gnav-pc-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gnav-sp-wrap {
  display: none;
}

ul.gnav-pc li {
  display: inline;
  margin-right: 40px;
}

ul.gnav-pc li a img {
  height: 20px;
}

#menu-button {
  display: none;
}


/** -------- スマホ -------- **/
@media screen and (max-width: 768px) {
  #header {
    height: 60px;
    padding: 0;
  }

  #header h1 {
    padding-left: 20px;
  }

  #header h1 a {
    display: flex;
  }

  .gnav-pc-wrap {
    display: none;
  }

  #menu-button {
    display: block;
    width: 60px;
    height: 60px;
    padding: 22px 18px;
  }

  .menu-button-inner {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }

  .menu-button-inner span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #2D3D42;
    position: absolute;
  }

  .menu-button-inner span:nth-child(1) {
    top: 0;
  }

  .menu-button-inner span:nth-child(2) {
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .menu-button-inner span:nth-child(3) {
    bottom: 0;
  }

  /* スマホ用メニューのスタイル */
  .gnav-sp-wrap {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    z-index: 100;
    padding-top: 100px;
  }

  ul.gnav-sp li {
    text-align: center;
    margin-bottom: 30px;
  }

  ul.gnav-sp li a img {
    height: 20px;
  }
}


/** -----------------------------------
    メインビジュアル
-------------------------------------**/
#mainvisual {
  width: 100vw;
  height: calc(100vh - 70px);
  background-image: url("../images/01-MV_pc_w1920.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 70px;
  margin-bottom: 30px;
}



/** -------- スマホ -------- **/

@media screen and (max-width: 375px) {
  #mainvisual {
    width: 100vw;
    height: calc(100vh - 60px);
    background-image: url("../images/01-MV_sp_w375.png");
    margin-top: 60px;
    margin-bottom: 30px;
  }
}


@media screen and (min-width: 376px) and (max-width: 768px) {
  #mainvisual {
    width: 100vw;
  height: calc(100vh - 60px);
    background-image: url("../images/01-MV_sp_w768.png");
    margin-top: 60px;
    margin-bottom: 30px;
  }
  #mainvisual .button-large {
    margin: 0 auto;
  }
  .maincopy {
    font-size: 22px;
    line-height: 1.6;
    letter-spacing: 0;
  }
  .copy-wrap {
    left: 24px;
    bottom: -20px;
  }
  .subcopy {
    font-size: 14px;
    margin-bottom: 6px;
  }
  .badge {
    width: 94px;
    height: 94px;
    top: 16px;
    right: 16px;
  }
}

/** -----------------------------------
    コンセプト
-------------------------------------**/
#concept .title-en {
  margin-bottom: 40px;
}

/** -------- スマホ -------- **/
@media screen and (max-width: 768px) {
  #concept h2.large {
    text-align: center;
  }
  #concept p.medium {
    margin-bottom: 30px;
  }
  #concept .title-en {
    margin-bottom: 16px;
  }
}

/** -----------------------------------
    メニュー
-------------------------------------**/
#menu {
}

#menu h2.large {
  text-align: center;
}

#menu p.medium {
  text-align: center;
  margin-bottom: 40px;
}

#menu h3.small {
  text-align: center;
  margin-bottom: 16px;
}

.card {
  height: 100%;
  background-color: #F2F8FB;
  border-radius: 10px;
}

.card .card-text {
  padding: 24px 24px 32px 24px;
}


/** -------- スマホ -------- **/
@media screen and (max-width: 768px) {
  #menu h2.large span {
    display: block;
  }
  #menu p.medium {
    margin-bottom: 30px;
  }
  .card {
    margin-bottom: 24px;
  }
}

/** -----------------------------------
    ニュース
-------------------------------------**/
#news {
}

#news h2.large {
  text-align: center;
}

#news p.medium {
  text-align: center;
  margin-bottom: 40px;
}

/** -------- スマホ -------- **/
@media screen and (max-width: 768px) {
  #news p.medium {
    margin-bottom: 30px;
  }
  #news p.medium span {
    display: block;
  }
}


/** -----------------------------------
    FAQ
-------------------------------------**/
#faq {
}

#faq h2.large {
  text-align: center;
}

.faq {
  border-radius: 8px;
  margin-bottom: 24px;
  background-color: #F5F5F6;
}

.faq-head, .faq-body {
  padding: 24px 72px 24px 32px;
}

.faq-head {
  border-radius: 8px;
  position: relative;
}

.faq-head::after {
  content: "";
  background-image: url("../images/arrow.png");
  background-size: contain;
  width: 14px;
  height: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 24px;
  margin: auto;
}

.faq-body {
  border-radius: 8px;
  /* 追記箇所 */
  display: none;
}

/** -------- スマホ -------- **/
@media screen and (max-width: 768px) {
  .faq-body {
    padding: 24px;
  }
}


/** -----------------------------------
    アクセス
-------------------------------------**/
#access {
}

#access h2.large {
  text-align: center;
}

.gmap {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}
.gmap iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

#access .button-border {
  margin-top: 30px;
}

/** -------- スマホ -------- **/
@media screen and (max-width: 768px) {
  #access .button-border {
    margin: 0 auto;
  }

  #access p.medium {
    margin: 20px 0;
  }
}



/** -----------------------------------
    フッター
-------------------------------------**/
#footer {
  background-color: #6eca8c;
  text-align: center;
  padding: 40px 0;
  margin-top: 110px;
}

#footer a {
  color: #FFFFFF;
}

#footer a:hover {
  color: #c94200;
}

.footer-link, .copyright {
  font-size: 15px;
}

.copyright {
  color: #FFFFFF;
}

.footer-link {
  margin-bottom: 20px;
}

.footer-link li {
  display: inline;
  margin-right: 20px;
}

/** -------- スマホ -------- **/
@media screen and (max-width: 768px) {
  #footer {
    padding: 40px 0 20px 0;
  }
  .footer-link {
    margin-bottom: 70px;
  }
  .footer-link li {
    display: block;
    margin: 0 0 20px 0;
  }
}
