@charset "UTF-8";
body {
  font-family: "Zen Maru Gothic","Yu Gothic", YuGothic, Helvetica, Arial,
  "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3",
  Meiryo, メイリオ, sans-serif;
  color: #682200;
  background-color: #dbf3e3;
}
img {
  max-width: 100%;
}

#concept, #menu, #news, #faq, #access {
  padding: 40px 4px 40px 4px; /* デザインカンプで設けた左右パディングは12% */
}
.section-inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .section-inner {
    padding: 0 24px;
    max-width: 980px;
  }
}
@media screen and (max-width: 768px) {
  #concept, #menu, #news, #faq, #access {
    padding: 40px 4%;
  }
  .section-inner {
    padding: 0 24px;
    max-width: 550px;
  }
}

/** -----------------------------------
    テキスト
-------------------------------------**/
/* 見出し*/
h2.large {
  font-weight: bold;
  font-size: 25px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
/* 本文 */
p.medium {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.05em;
}
@media screen and (max-width: 768px) {
  h2.large {
    font-weight: bold;
    font-size: 22px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
  }
  p.medium {
    font-size: 14px;
    line-height: 1.75;
    letter-spacing: 0.06em;
  }
}

/** -----------------------------------
    ボタン
-------------------------------------**/

/* viewmoreボタン */
.viewmore_button {
  display: flex;
  justify-content: center;
  height: 100px;
}
.viewmore_button a {
  display: inline-block;
}
.viewmore_button img {
  /* 余計な隙間（デスクリプタ）を消す */
  display: block;
  width: 300px;
  height: auto;
  cursor: pointer;
}
.viewmore_button img:hover{
  content: url(../images/00-viewmore_button_hover.png);
}
@media screen and (max-width: 768px) {
  .viewmore_button img {
    width: 140px;
    margin-top: 10px;
  }
}

/* SNSボタン */
.sns-button {
  display: flex;
  gap: 12px;
  list-style: none;
}
.sns-button img {
  width: 60px;
  height: auto;
}
.sns-button img:hover{
  opacity: 50%;
}
@media screen and (max-width: 768px) {
  .sns-button {
    display: flex;
    align-items: center;
    gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .sns-button img {
    width: 46px;
    height: auto;
    display: block;
  }
}


/** -----------------------------------
    セクションのタイトル
-------------------------------------**/
.title-en {
  font-family: "ab-yurumin", sans-serif;
  text-align: center;
  margin-bottom: 16px;
  font-size: 40px;
  color: #c94200;
}
@media screen and (max-width: 768px) {
  .title-en {
    font-size: 25px;
    transform-origin: center;
    margin-bottom: 20px;
  }
}


/** -----------------------------------
    ヘッダー
-------------------------------------**/
#header {
  background-color: #FFFFFF;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  position: fixed;
  top: 0;
  z-index: 1;
}

.header-logo {
  display: flex;
  align-items: center;
  width: 120px;
}
.header-logo:hover {
  opacity: 0.7;
}
.header-logo a {
  display: flex;
}

/* ハンバーガーメニューを開いた際のスタイルは、jquery.cssに格納してます */
.gnav-sp-wrap {
  display: none;
}

.gnav-pc-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Adobe fontsを適応 */
.gnav-pc{
  font-family: "ab-yurumin", sans-serif;
  font-size: 25px;
  font-style: normal;
}
.gnav-pc a, .gnav-sp a {
  color: #c94200;
}
.gnav-pc a:hover, .gnav-sp a:hover {
  color: #ee8844;
}
ul.gnav-pc li {
  display: inline;
  margin-right: 40px;
}

#menu-button, .header-right {
  display: none;
}
@media screen and (max-width: 768px) {
  #header {
    height: 60px;
    padding: 0;
  }
  #header h1 {
    padding-left: 20px;
  }
  #header h1 a {
    display: flex;
  }

  .gnav-pc-wrap {
    display: none;
  }
  .header-right {
    display: flex;
    align-items: center;
  }

  #menu-button:hover{
    opacity: 50%;
  }
}


/** -----------------------------------
    左右の装飾
-------------------------------------**/
.side-deco {
  position: fixed;
  top: 0;
  /* 画像の幅に合わせて調整 */
  width: 40px;
  height: 90vh;
  z-index: -1;
  margin-top: 65px;
  /* 画像の端まで全て表示 */
  background-size: contain;
  background-repeat:repeat-y;
  background-image: url('../images/00-装飾.png');
}
.side-deco-left {
  left: 0;
}
.side-deco-right {
  right: 0;
}
@media screen and (max-width: 768px) {
  .side-deco {
    width: 25px;
  }
}

/** -----------------------------------
    メインビジュアル
-------------------------------------**/
#mainvisual {
  width: 100vw;
  height: calc(100vh - 100px);
  background-image: url("../images/01-MV_pc_w1920.png");
  /* 画面いっぱいに表示 */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 70px;
}
@media screen and (max-width: 1440px) {
  #mainvisual {
    /* 画像高さを親要素にピッタリ合わせ、横幅は比率を保ったまま自動調整する */
    background-size: auto 100%;
  }
}
@media screen and (max-width: 768px) {
  #mainvisual {
    background-image: url("../images/01-MV_sp_w768.png");
    margin-top: 60px;
  }
}
@media screen and (max-width: 440px) {
  #mainvisual {
    height: 80vh;
    background-image: url("../images/01-MV_sp_w440.png");
  }
}

/** -----------------------------------
    コンセプト
-------------------------------------**/
#concept .title-en {
  margin-top: 40px 0;
}
.concept-flex-container {   /* 左右を横並びにする */
  display: flex;
  gap: 20px; /* 左右の隙間 */
  align-items: stretch;
}
.concept-flex-container .concept-right img{
  width: 100%;
  height: 100%;
}

.concept-left {     /* 左側の設定 */
  flex: 1;
}
.concept-left img {
  width: 90%;
  object-fit: cover; /* 枠いっぱいに画像を表示 */
}

.concept-right {    /* 右側の設定 */
  flex: 1;
  gap: 20px;
}
.concept-box {
  flex: 1;
  display: flex; /* 中身（テキストと画像）を横並びにする */
  padding: 20px;
  padding-right: 0px;
  align-items: center;
}

.text-content {
  width: 380px;
}
#concept h2.large{
  margin-bottom: 10px;
}
#concept p.medium {
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0.00em;
}

.image-content {
  flex: 1;
  text-align: right;
}
.image-content img {
  height: 100%;
}
@media screen and (max-width: 1200px) {  /*1200pxまで*/
  .concept-flex-container {
    align-items: center;
    flex-direction: column;   /* 縦並び */
  }
  .concept-flex-container .concept-right img{
    width: 70%;
    height: 70%;
  }
  .concept-left {
    width: 80%;
  }

  #concept-right {
    margin: 0 12% 0 12%;
    width: 80%;
    gap: 20px;
  }
  .concept-box{
    padding: 20px 10%;
  }
}
@media screen and (max-width: 768px) {  /*768pxまで*/
  #concept .title-en {
    margin-bottom: 16px;
  }
  .concept-flex-container {
    align-items: center;
    flex-direction: column;   /* 縦並び */
  }
  .concept-left {
    width: 100%;
  }

  #concept-right {
    margin: 0 12% 0 12%;
    width: 100%;
    gap: 20px;
  }
  /* 「テキストと画像」の横並びを解除 */
  .concept-box {
    flex-direction: column; /* これでテキストの下に画像が来る */
    text-align: center;
    padding: 0px;
    gap: 10px;;
  }
  .text-content, .image-content {
    width: 100%;
    flex: none; /* Flexの比率指定を解除 */
    gap: 10px;
  }

  #concept h2.large {
    text-align: left
  }
  #concept p.medium, p.large {
    font-size: 14px;
    text-align: left;
  }
  .image-content {
    text-align: center; /* 画像を中央に配置 */
    width: 80%;
  }
}

/** -----------------------------------
    メニュー
-------------------------------------**/
#menu h2.large {
  text-align: center;
}
.col-3 {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.col-3 .item {
  width: calc((100% - 48px) / 3);
}

.item img {
  width: 100%;
  height: auto;
}
.item .menu-text {
  text-align: center;
  padding: 24px;
}
@media screen and (max-width: 768px) {
  #menu h2.large span {
    display: block;
  }
  .col-3 {
    gap: 10px;
  }
  .col-3 .item {
    width: calc((100% - 20px) / 3);
  }
  /* パディングを小さくして文字の折り返しを防ぐ */
  .item .menu-text {
    padding: 10px 5px;
    font-size: 14px;
  }
}

/** -----------------------------------
    ニュース
-------------------------------------**/
#news h2.large {
  text-align: center;
}


/** -----------------------------------
    FAQ
-------------------------------------**/
#faq h2.large {
  text-align: center;
}
.faq {
  margin-bottom: 24px;
}

.faq-head, .faq-body {
  padding: 24px 72px 24px 32px;
  border-radius: 15px;
  background-color: #FFFFFF;
}
.faq-head {
  position: relative;
  cursor: pointer
}
.faq-body {
  width: 90%;
  display: none;
  margin: 0 auto;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .faq-body {
    padding: 24px;
  }
}


/** -----------------------------------
    アクセス
-------------------------------------**/
#access h2.large {
  text-align: center;
}
#access .col-2 {
   /* 地図と情報の高さを中央で揃える */
  align-items: center;
}

.col-2 {
  display: flex;
  justify-content: space-between;
}
.col-2 .item {
  width: calc((100% - 24px)/2);
}
@media screen and (max-width: 768px) {
  .col-2 {
    display: block;
  }
  .col-2 .item {
    width: 100%;
  }
}

.access-info {
  /* 中にある画像が中央に寄ります */
  text-align: center;
}
.access-info img {
  width: 280px;
  margin-bottom: 30px;
  display: inline-block;
}

.info-content {
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.info-list li {
  position: relative;
  padding-left: 20px;
  line-height: 2;
}
.info-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%); /* 垂直中央寄せ */
  width: 8px;
  height: 8px;
  background-color: #6eca8c;
  border-radius: 50%;
}
.mt-address {
  margin-top: 1.5em;
}

.access-info .sns-button {
  display: flex;
  gap: 15px;
  list-style: none;
}
.access-info .sns-button img {
  width: 80px;
  /* ロゴ用のマージンをリセット */
  margin-bottom: 0;
}

.gmap {
  overflow: hidden;
  border-radius: 20px;
}
.gmap iframe {
  height: 44vh;
  width: 100%;
  display: block;
}
@media screen and (max-width: 768px) {
  .access-info img, .access-info .sns-button {
    display: none;
  }
  .gmap {
    margin-top: 30px;
  }
  .gmap iframe {
    /* 絶対配置を解除して、高さをしっかり持たせる */
    position: static;
    height: 40vh;
    width: 100%;
  }
}



/** -----------------------------------
    フッター
-------------------------------------**/
#footer {
  background-color: #6eca8c;
  text-align: center;
  padding: 40px 0;
  margin-top: 110px;
}
.footer-link, .copyright {
  font-size: 15px;
}

.footer-link {
  margin-bottom: 20px;
}
.footer-link li {
  display: inline;
  margin-right: 20px;
}
#footer a {
  color: #FFFFFF;
}
#footer a:hover {
  color: #c94200;
}

.copyright {
  color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  #footer {
    padding: 40px 0 20px 0;
  }
  .footer-link {
    margin-bottom: 70px;
  }
  .footer-link li {
    display: block;
    margin: 0 0 20px 0;
  }
}
